.card-habitacion {
    height: 125px;
    /* Ajusta el alto según tus necesidades */
    width: 100%;
    /* Asegura que ocupe todo el ancho disponible en su columna */
}

.card-ocupada {
    background-color: #ffcccc;
    /* Un rojo claro, ajusta el color según tus preferencias */
}

.card-habitacion:not(.card-ocupada) {
    background-color: #ccffcc;
    /* Un verde claro, ajusta el color según tus preferencias */
}